@import "tailwindcss";

:root {
  --background: #ffffff;
  --font-poppins: 'Poppins', sans-serif;
  --pink: #D42163;
}

body {
  background-color: var(--background);
  font-family: var(--font-poppins);
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
